
  
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
*
{
    margin:0%;
    padding:0%;
    color:white;
}
#home
{
    background-image: url("./assets/stars background.svg");
    background-repeat: no-repeat;
    background-size:cover;
}
.header{
	    display: flex;
   		 flex-direction: row;
    	justify-content: center;
    	margin-top: 177px;
   
}
#logo
{
	
	
/* position: absolute;
width: 570px;
height: 80px;
margin-top: 130px;
margin-left: 360px; */
}

.section{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
    /* position: absolute;  */
    margin-top:60px;
/* 	padding-left:440px; */
}
.para{
	
	width: 620px;
    height: 44px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
	align-items:center;
    color:#FFFFFF;
   
	
}
#p2
{
    width: 520px;
    height: 80px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 80px;
    /* identical to box height, or 333% */
    
    text-align: center;
    
    color: #FFFFFF;
}
 #button
{
    position: absolute;
    width: 223px;
    height: 50px;
    color: black;
    background-color: #7EC9C5;
    border-radius: 20px;

} 
.footer{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:100px;
	
}
#ftr
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height: 340px;
    width:100%;
}
#logosmall
{
    margin-left:88px;
    width:266px;
    height:80px;
}
.myform
{
	display:flex;
	flex-direction:row;
	justify-content:center;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 333% */
  margin-top:100px;
    color: #FFFFFF;
    position:absolute;
}
input[type="text"] {
	background: transparent;
	border: 1px solid #7EC9C5;
	border-radius: 15px;
	/* line-height: 20px; */
	padding: 10px;
	width: 514px;
	color: white;
	/* height: 50px; */
}

#container {
	width: 900px;
	height: 900px;
	display:block;
	margin-left:30%;
}

#inp3 {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	width: 30px;
}

#inp4 {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	width: 30px;
}

#inp5 {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	width: 30px;
}

#button2 {
	position: absolute;
	width: 223px;
	height: 50px;
	color: black;
	background-color: #7EC9C5;
	border-radius: 20px;
	margin-top: 40px;
	margin-left: 110px;
}

#container input:checked ~ #gender {
	background-color: #2196F3;
}

#zodiac {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content:center;
}

